body{
    background-color: #000;;
    color: aliceblue;
}
p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.item-image {
    align-items: center;
  }
  
.item-image img {
    height: 8rem;

}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto;
  background-color: #010101;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.grid-item {
  background-color: rgba(255, 246, 215, 0.805);
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}

.inner-grid-container {
  display: grid;
  /* gap: 10px; */
  grid-template-columns: 90% 10%;
}