{% include "searcher/base.html" %}
{% load static %}

{% block title %}<title>Animal Hunter</title>{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'searcher/css/base.css' %}">
{% endblock %}

{% block body %}
    
    <h1>Wellcome to Animal Hunter index.</h1>

    {% include "searcher/catalog.html" with title="Fishes" items=fishes %}
    {% include "searcher/catalog.html" with title="Insects" items=insects %}
    {% include "searcher/catalog.html" with title="Sea Creatures" items=sea_creatures %}


{% endblock %}