{% include "searcher/base.html" %}
{% load static %}

{% block title %}<title>Animal Hunter</title>{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'searcher/css/base.css' %}">
{% endblock %}

{% block body %}
    
    <h1>Wellcome to Animal Hunter index.</h1>
    {% comment %} add a button that calls the index2 view {% endcomment %}
    <a class="btn btn-primary" href="{% url 'process_images' %}">Bring the action</a>

{% endblock %}